@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


.main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 20px 36px 12px 24px;
  border-bottom: 1px solid rgba(249, 245, 245, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.meta_logo {
  width: 200px;
  z-index: 1000;
}

.hamburger {
  display: none;
  cursor: pointer;
  position: relative;
}

.nav_profile {
  display: flex;
  align-items: center;
}
.connectBtn{
  width: 500px;
}
.user_icon {
  margin-right: 1rem;
}

@media (max-width: 600px) {
  .hamburger {
    display: block;
  }
  .meta_logo {
    width: 150px;
    z-index: 1000;
  }
  .nav_profile {
    position: absolute;
    top: 100%; 
    right: 0;
    background-color: #000;
    flex-direction: column;
    align-items: center;
    width: auto;
    display: none;
    z-index: 20;
  }

  .nav_profile.show {
    display: flex;
  }

  .nav_profile a,
  .nav_profile div {
    padding: 10px;
    text-align: left;
  }
}

.css-szj68g {
  font-size: 15px;
  padding: 8px 9px;
}

.animation {
  width: 650px;
  margin-bottom: 50px;
}
.animationDiv {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}
.create_button {
  width: 230px;
  height: 70px;
  background: none;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Chakra Petch', sans-serif;
  transition: 0.5s;
  font-size: larger;
}
.create_button:hover {
  letter-spacing: 0.1rem;
  border-bottom: solid 3px #a11dff;
}
.explore_button {
  width: 230px;
  height: 70px;
  background: none;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  font-family: 'Chakra Petch', sans-serif;
  transition: 0.5s;
  font-size: larger;
}
.explore_button:hover {
  letter-spacing: 0.1rem;
  border-bottom: solid 3px #a11dff;
}
.description {
  margin-top: 250px;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  color: white;
  padding: 22px;
}
.description h1 {
  color: #a11dff;
}
.panel {
  display: flex;
  flex-direction: row;
  height: 300px;
  gap: 100px;
  padding: 30px;
  margin-top: 120px;
}
.cards {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 28px;
  padding: 52px 26px 30px 26px;
}
.card1 {
  font-family: 'Chakra Petch', sans-serif;
  padding: 10px;
  background-color: #2c2c2c;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.walletLogo {
  margin-right: 16px;
}
.ShieldLogo {
  margin-right: 16px;
}
.GhostLogo {
  margin-right: 16px;
}
.wallet {
  height: 100px;
}
.card2 {
  border-radius: 20px;
  font-family: 'Chakra Petch', sans-serif;
  padding: 20px;
  background-color: #2c2c2c;
  display: flex;
  align-items: center;
}

.card3 {
  border-radius: 20px;
  font-family: 'Chakra Petch', sans-serif;
  padding: 20px;
  background-color: #2c2c2c;
  display: flex;
  align-items: center;
}
.title {
  text-align: center;
  margin-top: 100px;
  padding: 24px;
  font-size: 20px;
}
.footerText {
  text-align: center;
<<<<<<< HEAD
  font-family: 'Chakra Petch', sans-serif;
=======
  font-family: "Chakra Petch", sans-serif;
  padding: 11px 24px 24px 13px;
>>>>>>> b3c41396052c9321be46f013d1a79a7ccee5904c
}
.animation1 {
  width: 400px;
  padding: 20px;
}
.animation1Div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 300px;
  padding: 30px;
  align-items: center;
}
.Animation1Txt {
  font-family: 'Chakra Petch', sans-serif;
  /* max-width: 590px; */
  padding: 20px;
}
.Animation1Txt h1 {
  color: white;
  margin-bottom: 60px;
  text-align: center;
}
.Animation1Txt li {
  list-style: none;
  line-height: 30px;
  color: #bcbcbc;
  font-size: 17px;
}
.Animation1List1 {
  display: flex;
  max-width: 600px;
  justify-content: space-between;
  gap: 20px;
}
.Animation1List2 {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  gap: 20px;
}
.Animation1Btn {
  width: 140px;
  height: 50px;
  background: none;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Chakra Petch', sans-serif;
  transition: 0.5s;
  font-size: 15px;
  /* margin-top: 20px; */
  align-items: center;
}
.Animation1Btn:hover {
  letter-spacing: 0.1rem;
  border-bottom: solid 3px #a11dff;
}
.Animation1Btn1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.animation2Div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 300px;
  align-items: center;
}
.Animation2Txt {
  color: white;
  padding: 20px;
  margin-bottom: 60px;
  text-align: center;
}
.Animation2List1 {
  display: flex;
  max-width: 600px;
  gap: 20px;
}
.Animation2List2 {
  display: flex;
  max-width: 600px;
  gap: 20px;
}
.animation2 {
  width: 540px;
  padding: 40px;
}
.Animation2Txt {
  font-family: 'Chakra Petch', sans-serif;
  /* max-width: 590px; */
}
.Animation2Txt h1 {
  color: white;
  margin-bottom: 60px;
  text-align: center;
}
.Animation2Txt li {
  list-style: none;
  line-height: 30px;
  color: #bcbcbc;
  font-size: 17px;
}
.Animation2Btn1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.animation3 {
  width: 387px;
  padding: 10px 20px 5px 8px;
}
.animation3Div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 300px;
  padding: 14px;
  align-items: center;
}
.Animation3Txt {
  font-family: 'Chakra Petch', sans-serif;
  padding: 20px;
  /* max-width: 590px; */
}
.Animation3Txt h1 {
  color: white;
  margin-bottom: 60px;
  text-align: center;
}
.Animation3Txt li {
  list-style: none;
  line-height: 30px;
  color: #bcbcbc;
  font-size: 17px;
}
.Animation3List1 {
  display: flex;
  max-width: 600px;
  gap: 20px;
}
.Animation3List2 {
  display: flex;
  max-width: 600px;
  gap: 20px;
}
.Animation3Btn {
  width: 140px;
  height: 50px;
  background: none;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Chakra Petch', sans-serif;
  transition: 0.5s;
  font-size: 15px;
  /* margin-top: 20px; */
  align-items: center;
}
.Animation3Btn:hover {
  letter-spacing: 0.1rem;
  border-bottom: solid 3px #a11dff;
}
.Animation3Btn1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.MainAnimaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.MainAnimation {
  width: 600px;
}

.txtContainer {
  margin-top: 180px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Chakra Petch', sans-serif;
}

.topTxt {
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.txtContainer p {
  margin-top: revert;
}

.search-container {
  width: 55%;
  margin: 1rem auto;
}

.search-container input {
  width: 100%;
  padding: 10px;
}

.search-container input:hover {
  border-color: #aa80ff;
}

.search-container input:focus-visible {
  border-color: #aa80ff;
  outline: #aa80ff;
}

.edit-icon {
  position: relative;
  right: 25px;
  top: 50%;
  cursor: pointer;
}

.edit-icon:hover {
  color: #a11dff;
}
.dao-cards {
  padding: 20px;
  width: 729px;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
}
.dao-card {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid gray;
  background-color: black;
}

.card-link {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: inherit; 
}
.dao-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.dao-info {
  flex: 1;
  margin-left: 20px;
  align-content: center;
}

.dao-info h3 {
  margin-bottom: 5px;
  font-size: 18px;
  color: white;
}

.dao-info p {
  font-size: 14px;
  color: rgb(207, 207, 209);
}

.member-count {
  display: flex;
  padding: 4px;
}

.member-count span {
  font-size: 10px;
  margin-top: 12px;
  color: #a11dff;
}

.member-count p {
  font-size: 10px;
  color: #ccc;
  margin-top: 12px;
  padding-left: 4px;
}

html {
  scroll-behavior: smooth;
}


  @media only screen and (max-width: 450px) {
    .main{
      margin-left: auto;
    }
    .animation{
      padding: 30px;
    }
    .animation2Container {
      order: -1;
    }
    .animation1Div {
      margin-top: 300px;
      padding: 10px 20px 10px 15px;
      align-items: center;
      font-size: 12px;
  }
    .animation2 {
      width: 400px;
      padding: 10px 20px 10px 15px;
    }
    .Animation2Txt{
      padding: 25px;
    }
    .Animation2Txt h1 {
      font-size: 22px;
    }
    .Animation2Txt li {
      font-size: 16px;      
    }
  .animation3Div {
    flex-direction: column;
  }
  .Animation3Txt {
    font-size: 13px;
    width: 400px;
}
  .cards {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 37px 31px 30px 40px;
    font-size: 13px;
}
.description{
  margin-top: 160px;
  padding: 30px;
}
 .description h1{
  font-size: 18px;
}
.description p{
  font-size: 12px;
}
.buttons{
  align-items: center;
  gap: 50px;
  padding: 30px;
}
}