@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  z-index: 1000;
  /* background: linear-gradient(
    to right,
    rgba(51, 51, 51, 0.9) 0%,
    rgba(43, 43, 43, 0.7) 25%,
    rgba(30, 30, 30, 0.5) 50%,
    rgba(35, 35, 35, 0.3) 75%,
    rgba(53, 53, 53, 0.1) 100%
  );
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-top: 2px solid rgba(12, 12, 12, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}

.meta_logo {
  width: 300px;
  z-index: 1000;
}
.connect {
  width: 180px;
}
.animation {
  width: 650px;
  margin-bottom: 50px;
}
.animationDiv {
  display: flex;
  justify-content: center;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
.create_button {
  width: 230px;
  height: 70px;
  background: none;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Chakra Petch', sans-serif;
  transition: 0.5s;
  font-size: larger;
}
.create_button:hover {
  letter-spacing: 0.1rem;
  border: solid 2px purple;
}
.explore_button {
  width: 230px;
  height: 70px;
  background: none;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  font-family: 'Chakra Petch', sans-serif;
  transition: 0.5s;
  font-size: larger;
}
.explore_button:hover {
  letter-spacing: 0.1rem;
  border: solid 2px purple;
}
.description {
  margin-top: 250px;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  color: white;
}
.description h1 {
  color: #a11dff;
}
.panel {
  display: flex;
  flex-direction: row;
  height: 300px;
  gap: 100px;
  padding: 30px;
  margin-top: 120px;
}
.cards {
  display: flex;
  flex-direction: row;
  height: 300px;
  gap: 100px;
  padding: 70px;

  width: fit-content;
}
.card1 {
  font-family: 'Chakra Petch', sans-serif;
  padding: 10px;
  background-color: #2c2c2c;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.walletLogo {
  margin-right: 16px;
}
.ShieldLogo {
  margin-right: 16px;
}
.GhostLogo {
  margin-right: 16px;
}
.wallet {
  height: 100px;
}
.card2 {
  border-radius: 20px;
  font-family: 'Chakra Petch', sans-serif;
  padding: 20px;
  background-color: #2c2c2c;
  display: flex;
  align-items: center;
}

.card3 {
  border-radius: 20px;
  font-family: 'Chakra Petch', sans-serif;
  padding: 20px;
  background-color: #2c2c2c;
  display: flex;
  align-items: center;
}
.title {
  text-align: center;
  margin-top: 100px;
}
.footerText {
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
}
.animation1 {
  width: 400px;
  /* margin-bottom: 50px; */
}
.animation1Div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 300px;
  align-items: center;
}
.Animation1Txt {
  font-family: 'Chakra Petch', sans-serif;
  /* max-width: 590px; */
}
.Animation1Txt h1 {
  color: white;
  margin-bottom: 60px;
  text-align: center;
}
.Animation1Txt li {
  list-style: none;
  line-height: 30px;
  color: #bcbcbc;
  font-size: 17px;
}
.Animation1List1 {
  display: flex;
  max-width: 600px;
  justify-content: space-between;
  gap: 20px;
}
.Animation1List2 {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  gap: 20px;
}
.Animation1Btn {
  width: 140px;
  height: 50px;
  background: none;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Chakra Petch', sans-serif;
  transition: 0.5s;
  font-size: 15px;
  /* margin-top: 20px; */
  align-items: center;
}
.Animation1Btn:hover {
  letter-spacing: 0.1rem;
  border: solid 2px purple;
}
.Animation1Btn1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.animation2Div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 300px;
  align-items: center;
}
.Animation2Txt {
  color: white;
  margin-bottom: 60px;
  text-align: center;
}
.Animation2List1 {
  display: flex;
  max-width: 600px;
  gap: 20px;
}
.Animation2List2 {
  display: flex;
  max-width: 600px;
  gap: 20px;
}
.animation2 {
  width: 540px;
}
.Animation2Txt {
  font-family: 'Chakra Petch', sans-serif;
  /* max-width: 590px; */
}
.Animation2Txt h1 {
  color: white;
  margin-bottom: 60px;
  text-align: center;
}
.Animation2Txt li {
  list-style: none;
  line-height: 30px;
  color: #bcbcbc;
  font-size: 17px;
}
.Animation2Btn1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.animation3 {
  width: 400px;
  /* margin-bottom: 50px; */
}
.animation3Div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 300px;
  align-items: center;
}
.Animation3Txt {
  font-family: 'Chakra Petch', sans-serif;
  /* max-width: 590px; */
}
.Animation3Txt h1 {
  color: white;
  margin-bottom: 60px;
  text-align: center;
}
.Animation3Txt li {
  list-style: none;
  line-height: 30px;
  color: #bcbcbc;
  font-size: 17px;
}
.Animation3List1 {
  display: flex;
  max-width: 600px;
  gap: 20px;
}
.Animation3List2 {
  display: flex;
  max-width: 600px;
  gap: 20px;
}
.Animation3Btn {
  width: 140px;
  height: 50px;
  background: none;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Chakra Petch', sans-serif;
  transition: 0.5s;
  font-size: 15px;
  /* margin-top: 20px; */
  align-items: center;
}
.Animation3Btn:hover {
  letter-spacing: 0.1rem;
  border: solid 2px purple;
}
.Animation3Btn1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.MainAnimaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.MainAnimation {
  width: 600px;
}

.txtContainer {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Chakra Petch', sans-serif;
}

.topTxt {
  margin: 0;
  display: flex;
  align-items: center;
}

.topTxt h1 {
  margin-left: 10px;
  margin: 0;
}

.topTxt p {
  margin: 0;
}

.search-container {
  position: relative;
  text-align: center;
  margin: 10px;
  border-style: none;
  border: none;
  margin: 30px;
}

.search-container input {
  width: 52%;
  padding: 10px;
  border-radius: 10px;
}

.edit-icon {
  position: relative;
  right: 25px;
  top: 50%;
  cursor: pointer;
}

.edit-icon:hover {
  color: #a11dff;
}

.dao-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52%; /* Set the width to 52% */
  height: 6rem;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid gray;
  background-color: black;
}

.card-link {
  display: flex;
  width: 100%; /* Ensure the link takes the full width of the card */
  text-decoration: none;
  color: inherit; /* Inherit text color from parent */
}

.dao-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.dao-info {
  flex: 1;
  margin-left: 20px;
  /* margin-top: 15px; */
  align-content: center;
}

.dao-info h3 {
  margin-bottom: 5px;
  font-size: 18px;
  color: white; /* Set the color */
}

.dao-info p {
  font-size: 14px;
  color: rgb(207, 207, 209); /* Set the color */
}

.member-count {
  display: flex;
}

.member-count span {
  font-size: 10px;
  margin-top: 12px;
  color: #a11dff;
}

.member-count p {
  font-size: 10px;
  color: #ccc;
  margin-top: 12px;
  padding-left: 4px;
}

html {
  scroll-behavior: smooth;
}
