@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
.main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.logo {
  width: 280px;
}
.animation {
  width: 650px;
  margin-bottom: 50px;
}
.animationDiv {
  display: flex;
  justify-content: center;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}
.button1 {
  width: 190px;
  height: 60px;
  background: none;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Chakra Petch', sans-serif;
}
.button2 {
  width: 190px;
  height: 60px;
  background: none;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  font-family: 'Chakra Petch', sans-serif;
}
.description {
  margin-top: 150px;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
}
