.boards {
  display: flex;
  width: fit-content;
  height: 80vh;
  padding: 20px 15px 10px 15px;
  gap: 25px;
  /* max-width: 100%; */
}

.boards_newboard {
  width: 330px;
}

.drop-above {
  padding-bottom: 10px; /* Extra padding for drop above */
}

.drop-below {
  padding-top: 10px; /* Extra padding for drop below */
}
