.tabs {
  display: flex;
  margin-top: 110px;
  flex-direction: column;
  gap: 50px;
  width: 180px;
  align-items: center;
  /* background-color: red; */
}

.button1,
.button2,
.button3,
.button4 {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
  font-size: 19px;
  transition: 0.6s;
}

/* Sidebar Active button styling */
.sidebar-active {
  background-color: #a11dff;
  letter-spacing: 0.1rem;
}

.button1:hover,
.button2:hover,
.button3:hover,
.button4:hover {
  background-color: #a11dff;
  letter-spacing: 0.1rem;
}

.button1 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.button4 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.footer {
  margin-top: 94px;
  font-size: 10px;
  text-align: center;
  color: white;
}

.footer h1 {
  color: white;
}

/* Hamburger Menu */
.hamburger-menu {
  display: none; /* Hide by default */
}

@media only screen and (max-width: 1000px) {
  .tabs {
    width: 0px;
  }

  .tabs footer {
    display: none;
  }

  .taskBoard_sidebar {
    border-right: none;
    position: absolute;
    z-index: 1;
    background: black;
    height: 100%;
  }

  .hamburger-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hamburger-menu {
    top: 20px;
    left: 20px;
    z-index: 999;
    width: 40px;
    height: 40px;
    background-color: #333; /* Add background color */
    color: #a11dff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .sidebar-open .tabs {
    display: flex; /* Show sidebar content when open */
    width: 100px;
  }

  .sidebar-closed .page {
    padding-left: 0; /* Remove padding when sidebar is closed */
    justify-content: center; /* Center content */
  }

  .sidebar-closed {
    background: transparent;
  }

  .sidebar-closed .tabs a {
    display: none;
  }

  .Taskpage_content {
    margin-left: 0;
  }

  .taskBoard_sidebar {
    /* Default background when sidebar is closed */
    background-color: transparent;
  }

  .taskBoard_sidebar.sidebar-open {
    /* Background when sidebar is open */
    background-color: #060606;
  }

  .settings_sidebar {
    border-right: none;
    position: absolute;
    z-index: 1;
    background: black;
    padding: 0 16px;
    height: 100%;
  }

  .settings_sidebar {
    /* Default background when sidebar is closed */
    background-color: transparent;
  }

  .settings_sidebar.sidebar-open {
    /* Background when sidebar is open */
    background-color: #060606;
  }

  .overview_sidebar {
    border-right: none;
    position: absolute;
    z-index: 1;
    background: black;
    padding: 0 16px;
    height: 100%;
  }

  .overview_sidebar {
    /* Default background when sidebar is closed */
    background-color: transparent;
  }

  .overview_sidebar.sidebar-open {
    /* Background when sidebar is open */
    background-color: #060606;
  }
}
